# Security
<FilesMatch "^(config|functions)\.php$">
    Require all denied
</FilesMatch>
Options -Indexes
<IfModule mod_headers.c>
    Header always set X-Content-Type-Options "nosniff"
    Header always set X-Frame-Options "SAMEORIGIN"
    Header always set Referrer-Policy "no-referrer-when-downgrade"
</IfModule>

# Auto-prepend guard ke SEMUA file PHP dalam folder ini & subfolder
php_value auto_prepend_file "D:/xampp/htdocs/heavens/access_guard.php"
